

body{
    color: rgb(11, 11, 11);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    
}

/*CSS Da tela principal, social media e degrade*/
.header-wrapper{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, rgb(74, 103, 136), rgb(55, 173, 197), rgb(21, 119, 149), rgb(5, 86, 102));
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: backgroundTransitions 8s ease-in-out infinite;
    
}

h1{
text-transform: uppercase;
letter-spacing: 4px;
}

h2{
text-transform: uppercase;
letter-spacing: 4px;
}

.social-media{
margin-top: 1rem;
display: flex;
}

.social-media a{
text-decoration: none;
color: black;
font-size: 24px;
padding: 1rem 4rem;
border: 1px solid black;
min-width: 4rem;
display: flex;
justify-content: center;
align-items: center;
transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}


a:hover{
    color: rgba(220, 220, 216, 0.855);
    background-color: rgb(16, 14, 14);
    }
/*efeito degrade*/
@keyframes backgroundTransitions {
0%{
    background-position: 0% 80%;
}
50%{
    background-position: 80% 100%;
}
100%{
    background-position: 0% 90%;
}
}

/*Fim do css da tela principal*/
   
    

  /*Menu estilo hamburguer*/
  
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}


/*traços do menu hamburguer*/
.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform:rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}
/*fim do menu hamburguer*/

/*inicio do menu de links de navegação do site e efeito bolha*/

  .menu{
      position: absolute;
      top: 28px;
      right: 30px;
      background: transparent;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 0px white;
      z-index: -1;
      transition: 600ms ease-in-out 0s;
  }

  .menu-itens{
      position: fixed;
      top: 0;
      left:  0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: 600ms ease-in-out 0s;
            
  }

  /*css do menus home, sobe e projetos */

  .menu-itens ul{
        list-style-type: none;
  }

  .menu-itens ul li a{
      margin: 10px 0;
      color: rgb(96, 88, 88);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 40px;
  }

   /*animacao do menu*/
  
/*animação do menu hamburger rotação dos traços*/

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color:  rgb(21, 119, 149);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
    background-color:  rgb(21, 119, 149);
}
/*criado a bolha do menu */

#toggle:checked + .checkbox{
    background-color: white;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 2;
}

#toggle:checked ~ .menu-itens{
    visibility: visible;
    opacity: 1;
}





/*Aula 4 chatbot*/

.wrapperchat{
    height: 70vh;
    width: 70vw;
    border-radius: 10%;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid wheat;
    box-sizing: border-box;
}

.chatbot{
    height: 4rem;
    width: 8rem;
    border-radius: 36px;
    border: 4px solid wheat;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transform: translateY(0);
    animation: chatTranslate 2s ease-in-out infinite;
}

.chatbot::before{
    content: '';
    width: 0;
    height: 0; 
    position: absolute;
    bottom: -1.3rem;
    left: 2rem;
    border-left: 2px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid wheat;
}

.chatbot_loading{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: wheat;
    transform: scale(1);
}

.chatbot_loading:nth-child(1){
    animation: pulse 1.5s ease-in-out infinite;
   
}

.chatbot_loading:nth-child(2){
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: 0.2s;
}

.chatbot_loading:nth-child(3){
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
    

@keyframes chatTranslate {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}







/*Cards*/
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card{
    height: 300px;
    width: 400px;
    margin: 3rem 0 0 0;
    background-image: url('./Imagens/eu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: rgb(221, 231, 240);
    cursor: pointer;
    transition: 0.3s;

}

@keyframes float{
	0%,100%{
		box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
		transform:translatey(0)
	}
	50%{
		box-shadow:0 25px 15px 0 rgba(0,0,0,.2);
		transform:translatey(-20px)
	}
}
.card {
     animation: float 6s ease-in-out infinite;
}

.card-text{
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute ;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    font-size: 0px;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0,3s;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 250px;
    width: 350px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/*footer*/

.footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(21, 119, 149);

}

/*responsivo*/

@media (800px) 
    
{}
@media (max-width: 800px) {

    .social-media{
        display: flex;
        flex-direction: column;
    }

    .container{
        margin-top: 0;
    }
    .card-container{
        flex-direction: column;
    }
    .card .card-container:nth-child(1),
    .card .card-container:nth-child(3){
        flex-direction: column-reverse;
    }
    .card{
        height: 250px;
        width: 250px;
    }
    .card-text{
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }
    .card:hover > .card-wrapper::before{
        height: 190px;
        width: 19;
    }
}